/*CSS struktur

TODO: Denne filen kan deles i:

reset.css
grid.css
mobil.css
layout.css

*/
/* **************** GRIDS fra OOCSS ***************** */
.line:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.lastUnit:after {
  content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
  visibility: hidden;
  clear: both;
  height: 0 !important;
  display: block;
  line-height: 0;
}
.line {
  *zoom: 1;
}
.unit {
  float: left;
}
.size1of1 {
  float: none;
}
.size1of2 {
  width: 50%;
}
.size1of3 {
  width: 33.33333%;
}
.size2of3 {
  width: 66.66666%;
}
.size1of4 {
  width: 25%;
}
.size3of4 {
  width: 75%;
}
.size1of5 {
  width: 20%;
}
.size2of5 {
  width: 40%;
}
.size3of5 {
  width: 60%;
}
.size4of5 {
  width: 80%;
}
.lastUnit {
  display: table-cell;
  *display: block;
  *zoom: 1;
  float: none;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
  width: auto;
}
/* **************** GRIDS fra OOCSS ***************** */
/* ---------------- WIP generell ----------------- */
/* Inspirert fra OOCSS og Bootrap twitter 		   */
/* ----------------------------------------------- */
/*margin and padding oocss*/
.mtl {
  margin-top: 15px;
}
.mtm {
  margin-top: 10px;
}
.mbm {
  margin-bottom: 10px;
}
.pam {
  padding: 10px;
}
.pbm {
  padding-bottom: 10px;
}
.line [class*="unit"]:first-child {
  padding-left: 0;
}
.line [class*="unit"] {
  padding-left: 15px;
}
/*reset*/
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
img {
  border: 0;
}
/* ---------------- APP ----------------- */
/*Colors ---test -- */
table td,
table th {
  padding: 10px;
}
html {
  font-family: sans-serif;
  background: #f8f8f8;
  color: #666666;
}
body {
  font-size: 1em;
  line-height: 1.2;
  margin: 0px;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
/*container*/
.container {
  margin: 0 auto;
}
.intro {
  color: #ff7474;
  background-color: #2b2b2b;
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  padding: 1.5em;
  min-height: 17em;
  position: relative;
}
.intro h1 {
  font-size: 3em;
  max-width: 80%;
}
.intro h3 {
  margin-top: 1em;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5em;
  letter-spacing: .2em;
  max-width: 30em;
}
/*page-cv*/
.page-cv .cv-bullets > li {
  background-color: #e6e5e1;
  cursor: pointer;
  margin-top: .625em;
}
.page-cv .cv-bullets img {
  display: inline-block;
  width: 25%;
}
.page-cv .cv-bullets .wrap {
  display: block;
  position: relative;
  width: 100%;
  min-height: 6em;
}
.page-cv .cv-bullets .detail {
  font-family: "proxima-nova", sans-serif;
  color: #a18e5c;
  text-transform: uppercase;
  line-height: 0.5em;
  font-weight: 600;
  position: absolute;
  top: 25%;
  left: 35%;
  display: inline-block;
}
.page-cv .cv-bullets .detail h2 {
  font-size: 1.2em;
}
.page-cv .cv-bullets .detail .text {
  font-size: 0.9em;
}
.page-cv .cv-bullets .closed .cv-bullet-content {
  display: none;
}
.page-cv .cv-bullets .open .cv-bullet-content {
  display: block;
}
.page-cv .cv-bullets .cv-bullet-content {
  background-color: #fff;
  border-bottom: 5px solid #2b2b2b;
  padding: 1em 1em 3em 1em;
}
.page-cv .cv-bullets .btn {
  position: absolute;
  top: 40%;
  right: 1.625em;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.page-cv .cv-bullets .open .btn {
  background-image: url("../img/minus.svg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.page-cv .cv-bullets .closed .btn {
  background-image: url("../img/plus.svg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.sticker {
  background-image: url("../img/sticky.svg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -11px;
  left: 0px;
  width: 130px;
  height: 151px;
  z-index: 5000;
}
.infoEducation {
  background-color: #FFEEEA;
  color: #ff7474;
  text-transform: uppercase;
  font-weight: bold;
}
.aktuelt-content {
  font-family: "museo-sans-rounded", sans-serif;
  background-color: #f8f8f8;
}
.wrapper {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  /*	-webkit-box-shadow:-3px 0 10px rgba(0, 0, 0, 0.8);
	-moz-box-shadow:-3px 0 10px rgba(0, 0, 0, 0.8);
	-ms-box-shadow:-3px 0 10px rgba(0, 0, 0, 0.8);
	-o-box-shadow:-3px 0 10px rgba(0, 0, 0, 0.8);
	box-shadow:-3px 0 10px rgba(0, 0, 0, 0.8);
	*/
  position: relative;
  padding-bottom: 8.4em;
  /*min-height:100%;*/

  background-color: #fafaf6;
}
/*page-head*/
.page-head .nav-list {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: -80% !important;
  width: 80%;
  padding-top: 2em;
}
.page-head {
  display: none;
}
/* -----------------WIP mobil responsiv ---------------- */
@media screen and (max-width: 48em) {
  /* -----------------WIP content ---------------- */
  .line [class*="unit"] {
    float: none;
    width: 100%;
    padding-left: 0px;
  }
  /* -----------------WIP menu ---------------- */
  .js-menu-open .wrapper {
    -webkit-transform: translate(80%, 0);
    -moz-transform: translate(80%, 0);
    -ms-transform: translate(80%, 0);
    -o-transform: translate(80%, 0);
    transform: translate(80%, 0);
    -webkit-transform: translate3d(80%, 0, 0);
    -moz-transform: translate3d(80%, 0, 0);
    -ms-transform: translate3d(80%, 0, 0);
    -o-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0);
  }
  .page-head {
    display: block;
    background-color: #f8f8f8;
    border-bottom: 1px solid #464646;
    position: relative;
    min-height: 2.5em;
    max-width: 1310px;
    margin: 0 auto;
    /*svg.css*/
  
  }
  .page-head .nav-list li {
    text-transform: uppercase;
    display: block;
    border-bottom: none;
  }
  .page-head .nav-list li a {
    padding: .5em 1em .5em 3em;
    display: block;
    color: #696158;
    letter-spacing: .2em;
    text-decoration: none;
  }
  .page-head .nav-menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -1px;
    width: 50px;
    text-indent: 300px;
    overflow: hidden;
  }
  .page-head .nav-menu {
    background-image: url(../img/menu.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto auto;
    -webkit-background-origin: content-box;
    -moz-background-origin: content-box;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
  }
  /*Fonts*/
  .intro h1 {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: .5em;
    -webkit-transition: opacity .6s linear;
    -moz-transition: opacity .6s linear;
    -ms-transition: opacity .6s linear;
    -o-transition: opacity .6s linear;
    transition: opacity .6s linear;
  }
  .page-cv .cv-bullets .detail {
    left: 29%;
    top: 25%;
  }
  .page-cv .cv-bullets .detail h2 {
    font-size: 0.9em;
  }
  .page-cv .cv-bullets .detail .text {
    font-weight: normal;
  }
  .page-cv .cv-bullets .cv-bullet-content {
    font-size: 0.8em;
  }
  .page-cv .cv-bullets .btn {
    top: 35%;
  }
}
